/*
    Document   : app_style.css
    Author     : Julie Tadrous
    Description: External style sheet for the application.
*/

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: #eeeeee;
    justify-content: end;
    margin-top: 69.5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 15px 55px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #2d33a1;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    margin: 0;
    padding: 0;
    background-color: #2d33a1;
    width: 100%;
    height: 180px;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    margin: 0;
    padding: 0;

}


/*styles for the page footer */
#footer{
    font-size: 90%;
    font-family: 'Times New Roman',Times,serif;
    text-align: center;
    background-color: #eeeeee;
    bottom: 0;
    left: 0;
    /*z-index: -10;
    margin-top: 200px;
    padding: 0;
    position: absolute;
    width: 100%;*/
}

#footer, #push{
    height: 10%;
    clear: both;
}

/*style for the banner */
#banner {
    background-color: #2d33a1;
    height: 180px;
}

#banner #left{
    float: left;
    overflow: hidden;
    width: 30%;
    text-align: center;
    margin-top: 17px;
}

#banner #right{
    float: left;
    overflow: hidden;
    text-align: right;
    width: 70%;
}

/*styles for the page header that appears right below the banner*/
#main-header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #2d33a1;
    display: inline-block;
    text-align: center;
}

#body {
    margin-top: 180px;
    position: relative;
}

.log {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
    min-height: 300px;
    height: 100%;
}

.wel {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

/*hr {
    background-color: #2d33a1;
    font-weight: bold;
}*/

.button {
    font-size: 12px;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #2d33a1;
    width: 60px;
    height: 25px;
}

.button:hover {
    background-color: #2d33a1;
    color: white;
}

div.middle-row {
    min-height: 30%;
    padding: 0px 20px;
}

div.bottom-row {
    margin: 0px 20px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #999;
    overflow: hidden;
}

/*where home page code starts */

.block{
    background-color: #f79862;
    width: 65%;
    margin: 8px;
    height: 300px;
    float: left;
    font-family: "Courier New", Courier, monospace;
    border-radius: 15px;
}

#comp {
    background-color: #f79862;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    align-content: center;
}

.block2{
    width: 32%;
    margin: 8px;
    float: right;
    height: 1530px;
    background-color: #f05e23;
    color: white;
    border-radius: 15px;
}

.block3{
    width: 65%;
    margin: 8px;
    height: 400px;
    background-color:#2d33a1;
    float: left;
    border-radius: 15px;
}

#bernie{
    background-color: #f79862;
    width: 45%;
    height: 360px;
    margin: 18px;
    float: left;
    font-family: "Courier New", Courier, monospace;
    border-radius: 10px;
}

#trump{
    float: right;
    width: 45%;
    height: 360px;
    margin: 18px;
    background-color:#f79862 ;
    font-family: "Courier New", Courier, monospace;
    border-radius: 10px;
}

.block4{
    width: 65%;
    height: 400px;
    background-color:#2d33a1;
    float: left;
    margin: 8px;
    border-radius: 15px;
}

#obama{
    background-color: #f79862 ;
    width: 45%;
    height: 360px;
    margin: 18px;
    float: left;
    font-family: "Courier New", Courier, monospace;
    border-radius: 10px;
}

#ryan{
    float: right;
    width: 45%;
    height: 360px;
    margin: 18px;
    background-color:#f79862  ;
    font-family: "Courier New", Courier, monospace;
    border-radius: 10px;
}

.textbox{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

#gif{
    border-radius: 10px;
    width: 80%;
    height: 400px;
    margin-left: 35px;
}

.titles{
    text-align: center
}

#trumpphoto{
    width: 220px;
    height: 230px;
    text-align: center;
    padding-left: 70px;
}

.photo{
    padding-top: 20px;
    padding-left: 90px;
}

/*This is where the about us page starts*/
#Ran{
    border-radius: 15px;
    width: 70%;
    height: 270px;
    background-color:#f79862;
    float: left;
    margin: 8px;
}

#prof{
    padding-top: 8px;
    width: 25%;
    height: 270px;
    float: right;
    border-radius: 15px;
    padding-right: 20px;
}

#Louie{
    border-radius: 15px;
    width: 70%;
    height:270px;
    background-color: #2d33a1;
    float: right;
    margin: 8px;
}

#prof2{
    float: left;
    width: 25%;
    height: 270px;
    padding-left: 20px;
    border-radius: 15px;
    margin-top: 7px;
}

#Fawzi{
    border-radius: 15px;
    width: 70%;
    height: 270px;
    background-color: #f79862;
    float: left;
    /*margin-top: 10px;*/
    margin: 8px;
}

#prof3{
    width: 25%;
    float: right;
    height: 270px;
    border-radius: 15px;
    padding-top: 10px;
    padding-right: 20px;
}

.title{
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    padding-right: 30px;
}

.title1{
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    padding-right: 30px;
    padding-left: 30px;
}

#text{
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    border: white;
}

#gif2{
    width: 50%;
    position: center;
    height: auto;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
    font-size: 11px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f79862;
    border: 1px solid #f05e23;
}

.inv {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
}

/* this is the style for the search bar similar to the search bar in the the lab 9 */
#searchbar {
    float: right;
    margin-top: 10px;
    margin-right: 0px;
    position: relative;
    border: #bbb 1px solid;
    border-radius: 0px;

}

#searchbar input{
    border: none;
}

#searchbar input[type="text"] {
    width: 155px;
    padding-left: 8px;
    font-size: 0.8em;
    color: #444;
}

#searchbar input[type="text"]:focus {
    outline: none;
}

#searchbar input[type="submit"]{
    padding: 0;
    width: 24px;
    height: 19px;
    text-align: center;
    color: black;
    border-left: 2px solid #2d33a1;
    background-color: #eee;
}

#searchbar input[type="submit"]:hover{
    background-color: #2d33a1;
    color: white;
}

/* this is the code for the id suggestion that was also a part of the div associated with the div */

#suggestionDiv {
    position: absolute;
    padding: 0;
    margin: 0;
    right: -1px;
    background-color: #fff;
    font-size: 0.85em;
    z-index: 9999;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 2px 10px 12px 2px rgba(0,0,0,.175);
}

#suggestionDiv span {
    display: block;
    padding: 4px 3px 4px 10px;
    cursor: default;
    min-width: 178px;
    white-space: nowrap;
}

#suggestionDiv span:hover {
    background-color: #F5DEB3;
}

/* this adds a structure to the rows as they are being created on the page*/
.row:before,
.row:after {
    content:"";
    display: table ;
    clear:both;
}

/* this is where the code to the form is */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #f79862;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    font-family: "Courier New", Courier, monospace;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    z-index: 1; /* Sit on top */
    /*left: 0;*/
    /*top: 0;*/
    right: 0;
    bottom: 0;
    border: 3px solid #f1f1f1;
    position: fixed;

}

/* Add styles to the form container */
.form-container {
    width: 250px;
    font-family: "Courier New", Courier, monospace;
    padding: 20px;
    color: white;
    background-color: #2d33a1;
}


/* Set a style for the submit button */
.form-container .btn {
    font-family: "Courier New", Courier, monospace;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color:#f05e23;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa:hover {
    opacity: 0.9;
}